<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CATARINA</title>
    <link rel="icon" href="https://firebasestorage.googleapis.com/v0/b/dictamigos.appspot.com/o/CatarinaGreen.png?alt=media&token=ddb8666b-e450-47c7-b600-ac7393e393ae">
    <!-- CSS -->
    <link rel="stylesheet" href="/css/custom.css">
    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css"/>

</head>
<body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary" id="menu">
        <div class="container">
            <a class="navbar-brand text-light" href="/"> 
                <svg class="svg-header" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 215.94 322.36"><defs><style>.cls-1,.cls-2,.cls-3,.cls-4,.cls-5,.cls-7{fill:none;stroke: #fff; stroke-miterlimit:10;}.cls-1,.cls-7{stroke-width:4px;}.cls-2,.cls-5{stroke-width:6px;}.cls-3,.cls-5,.cls-7{stroke-linecap:round;}.cls-3,.cls-4{stroke-width:5px;}</style></defs><g id="Capa_2" data-name="Capa 2"><g id="Capa_1-2" data-name="Capa 1"><circle class="cls-1 strow-svg-custom-dark svg-cls" cx="142" cy="114.7" r="12.57"/><circle class="cls-1 strow-svg-custom-dark svg-cls" cx="144.76" cy="203.54" r="12.57"/><path class="cls-1 strow-svg-custom-dark svg-cls" d="M177,156.82A12.56,12.56,0,0,0,197,167c.1-1.78.16-3.57.16-5.37a90.18,90.18,0,0,0-1.38-15.78,12.56,12.56,0,0,0-18.71,11Z"/><circle class="cls-1 strow-svg-custom-dark svg-cls" cx="69.75" cy="114.7" r="12.57"/><circle class="cls-1 strow-svg-custom-dark svg-cls" cx="69.75" cy="203.54" r="12.57"/><circle class="cls-2 strow-svg-custom-dark svg-cls" cx="107.27" cy="161.31" r="89.86"/><path class="cls-1 strow-svg-custom-dark svg-cls" d="M17.62,167.48a12.58,12.58,0,1,0,1.17-22,90.41,90.41,0,0,0-1.39,15.8C17.4,163.38,17.48,165.44,17.62,167.48Z"/><line class="cls-3 strow-svg-custom-dark svg-cls" x1="105.88" y1="221.44" x2="105.88" y2="71.44"/><path class="cls-4 strow-svg-custom-dark svg-cls" d="M105.88,221.44q13.16,13.37,26.3,26.75"/><path class="cls-4 strow-svg-custom-dark svg-cls" d="M105.88,221.44,80.17,247"/><path class="cls-5 strow-svg-custom-dark svg-cls" d="M144,79.29A89.91,89.91,0,0,0,67,81c-.69-2.58-4.4-17.38,4.49-31.19,11.18-17.37,32.1-17.32,34.41-17.27,4.25.08,18.3,1,28.87,12.73C147.51,59.34,144.43,77.2,144,79.29Z"/><path class="cls-3 strow-svg-custom-dark svg-cls" d="M80.94,52.05a163.33,163.33,0,0,0-7.7-17.94C64.31,16.32,57.34,10.56,54.93,8.7,51.58,6.11,44.43.6,39.64,3.16c-2.33,1.25-3.33,4-3.79,6.07"/><path class="cls-3 strow-svg-custom-dark svg-cls" d="M126.79,50.91A151,151,0,0,1,145,16.81C151.09,8.29,155.79,3.68,162,3.16a16.71,16.71,0,0,1,9.47,2.28"/><path class="cls-3 strow-svg-custom-dark svg-cls" d="M41.28,100.32a28.57,28.57,0,0,0-4.55-6.52,26.88,26.88,0,0,0-6.95-5.37"/><path class="cls-3 strow-svg-custom-dark svg-cls" d="M26.36,122.15a24,24,0,0,0-7.14-5.1,23.41,23.41,0,0,0-8-2.1"/><path class="cls-3 strow-svg-custom-dark svg-cls" d="M17.81,152.74a26.14,26.14,0,0,0-8.78,1,25.64,25.64,0,0,0-6.53,2.92"/><circle class="cls-2 strow-svg-custom-dark svg-cls" cx="107.27" cy="161.31" r="89.86"/><circle class="cls-4 strow-svg-custom-dark svg-cls" cx="107.27" cy="161.31" r="89.86"/><path class="cls-7 strow-svg-custom-dark svg-cls" d="M173.89,101A40.15,40.15,0,0,1,186,86.78"/><path class="cls-3 strow-svg-custom-dark svg-cls" d="M188.2,122.2a44.24,44.24,0,0,1,8.45-5.6,43.22,43.22,0,0,1,6.82-2.78"/><path class="cls-3 strow-svg-custom-dark svg-cls" d="M196.7,152.52a58.83,58.83,0,0,1,6.52,1,56.93,56.93,0,0,1,9.34,2.78"/></g></g></svg>
                CATARINA
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            </button>
        </div>
    </nav>    <!-- CONTAINER MESSAGE -->
    <div class="container-lg">
        <div class="row mx-auto justify-content-center mb-3 pb-5 mt-3 pt-2">
            <div class="col-md-8 col-sm-12">
                <div class="card mt-5 mb-5 p-5">
                    <h3 class="text-center text-success">ACCESO PERMITIDO</h3>
                    <p>
                    El acceso le fue permitido al alumno <b><%= resultadosAlum.user_nom%> <%= resultadosAlum.user_appat%> <%= resultadosAlum.user_apmat%></b>
                    con base a sus respuestas en el cuestionario de entrada contestado <b><%= resultadosAlum.enc_fecha%>.</b>
                    </p>
                    <div class="row justify-content-center">
                        <div class="col-md-6 col-sm-8 text-center">
                            <!-- <img src="https://firebasestorage.googleapis.com/v0/b/dictamigos.appspot.com/o/check.png?alt=media&token=66fdb62b-d9db-48f0-8ae3-4f87a91c907b" width="60%" height="auto"> -->
                            <i class="fas fa-check-circle check-test text-primary"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<%- include ('../partials/footerDirec') %>